<ol class="breadcrumb">
  <app-breadcrumb></app-breadcrumb>
  <!-- Breadcrumb Menu-->
</ol>

<div class="fixed-content p-0 " style="overflow-x: hidden;">
  <i-docsignviewer #viewer [toolbarBg]="'#e7edee'" [toolbarColor]="'#333333'" [showSidebar]="true"
    [showZoomControl]="true" [reduceHeight]="153" [zoom]="0.8"  [activedoc]="activedoc"
    (onDoclistselect)="onDocListSelect($event)" (onFinished)="validate($event)" (onCancel)="onCancel($event)"
    (onSignatureCreate)="onSignatureCreate($event)" (onSignatureApplyAll)="onSignatureApplyAll($event)"></i-docsignviewer>
</div>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>